:root {
    --primary: #ccdad1;
    --secondary: #0384fc;
}

.container {
    padding: none;
    margin: none;
}

.jumbotron {
 text-align: center;
 background-color: black;
 color: white;
 font-family: Arial, Helvetica, sans-serif;
 padding: 3px 0px;
}

.btn {
    background-color: var(--secondary);
}

.card-header {
    font-family: Arial, Helvetica, sans-serif;
} 
.day-weather {
    background-color: #0384fc;
    margin: 5px;
}
.hide {
    display: none;
}